Repository Armor-test/order-adapter-142, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/squad-search, @Armor-test/squad-research, @Armor-test/dept-notifications, @Armor-test/squad-ml, @Armor-test/dept-billing, @Armor-test/unit-governance, @Armor-test/squad-cloud, @Armor-test/dept-data, @Armor-test/team-research, @Armor-test/squad-api, @Armor-test/dept-security, @Armor-test/squad-qa, @Armor-test/team-reporting, @Armor-test/team-notifications, @Armor-test/dept-reliability, @Armor-test/team-frontend, @Armor-test/grp-ui, @Armor-test/squad-apps, @Armor-test/unit-design, @Armor-test/dept-ui, @Armor-test/squad-product, @Armor-test/team-security, @Armor-test/squad-payments, @Armor-test/squad-cache, @Armor-test/team-governance, @Armor-test/grp-integration, @Armor-test/dept-logging, @Armor-test/dept-release, @Armor-test/unit-devops, @Armor-test/dept-reporting, @Armor-test/dept-automation, @Armor-test/grp-reporting, @Armor-test/squad-reporting, @Armor-test/squad-ux, @Armor-test/dept-test, @Armor-test/security, @Armor-test/auth-team, @Armor-test/compliance, @Armor-test/dependency-team

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/squad-search, @Armor-test/squad-research, @Armor-test/dept-notifications

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/squad-search, @Armor-test/squad-research, @Armor-test/dept-notifications

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/grp-ui, @Armor-test/team-research

Add src/main.py
  src/main.py
Owners: @Armor-test/squad-search, @Armor-test/squad-research, @Armor-test/dept-notifications

Add src/index.js
  src/index.js
Owners: @Armor-test/squad-ux, @Armor-test/dept-test, @Armor-test/unit-design

.github/CODEOWNERS:

# CODEOWNERS file for order-adapter-142
# Global owners - will be requested for all PRs
* @Armor-test/squad-search @Armor-test/squad-research @Armor-test/dept-notifications

# Directory ownership
/api/ @Armor-test/squad-ml @Armor-test/dept-billing
/third_party/ @Armor-test/unit-governance @Armor-test/squad-cloud
/core/ @Armor-test/dept-data @Armor-test/team-research
/app/ @Armor-test/squad-api @Armor-test/dept-security @Armor-test/squad-qa
/migrations/ @Armor-test/team-reporting @Armor-test/team-notifications
/internal/ @Armor-test/squad-research @Armor-test/dept-reliability @Armor-test/team-frontend
/controllers/ @Armor-test/team-notifications @Armor-test/dept-data
/test/ @Armor-test/grp-ui @Armor-test/team-research
/scripts/ @Armor-test/grp-ui @Armor-test/squad-apps
/modules/ @Armor-test/team-frontend @Armor-test/squad-research @Armor-test/squad-search

# File type ownership
*.scss @Armor-test/unit-design @Armor-test/team-research
*.sh @Armor-test/dept-ui @Armor-test/squad-product @Armor-test/dept-security
*.rb @Armor-test/team-frontend @Armor-test/team-security @Armor-test/squad-payments
*.php @Armor-test/squad-product @Armor-test/squad-cache
*.scala @Armor-test/team-governance @Armor-test/squad-qa
*.swift @Armor-test/grp-ui @Armor-test/grp-integration
*.graphql @Armor-test/dept-logging @Armor-test/dept-release @Armor-test/team-governance
*.c @Armor-test/unit-devops @Armor-test/dept-reporting @Armor-test/unit-design
*.gradle @Armor-test/dept-automation @Armor-test/team-research @Armor-test/grp-reporting
*.css @Armor-test/squad-reporting @Armor-test/grp-ui
*.js @Armor-test/squad-ux @Armor-test/dept-test @Armor-test/unit-design
*.toml @Armor-test/team-research @Armor-test/squad-api
*.lock @Armor-test/team-security @Armor-test/grp-ui @Armor-test/dept-reliability
*.jsx @Armor-test/dept-reporting @Armor-test/squad-research

# Security and special files
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
/src/**/security/ @Armor-test/security @Armor-test/compliance
package.json @Armor-test/dependency-team @Armor-test/security
